<%= simple_form_for @person do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-lg-3">
        <%= f.input :name, as: :slim, input_html: { autofocus: true } %>
      </div>
      <div class="col-lg-3">
        <%= f.input :lastname, as: :slim %>
      </div>
      <div class="col-lg-3">
        <%= f.input :email, as: :slim, type: :email_field %>
      </div>
      <div class="col-lg-3">
        <%= f.input :identification, as: :slim %>
      </div>
    </div>

    <%= f.simple_fields_for :enrollments, person_enrollment do |e_f| %>
      <div class="row">
        <div class="col-md-9">
          <%= e_f.association(
            :course, collection: @courses, label: false, include_blank: false
          ) %>
        </div>
        <div class="col-md-3">
          <%= with_notebook_enrollment_select(e_f) %>
        </div>
      </div>

      <%= e_f.input :comment, as: :slim, type: :text_area %>
    <% end %>
  </div>

  <div>
    <%= f.button :submit, class: 'btn-primary btn-lg' %>
  </div>
<% end %>
