<%= simple_form_for(@person, html: { class: 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :name, label: false, placeholder: Person.human_attribute_name('name'), input_html: { autofocus: true } %>
      </div>
      <div class="span4">
        <%= f.input :lastname, label: false, placeholder: Person.human_attribute_name('lastname') %>
      </div>
      <div class="span4">
        <%= f.input :email, label: false, placeholder: Person.human_attribute_name('email') %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
