<%= simple_form_for(@person, html: { class: 'form-vertical' }, defaults: { input_html: { class: 'span12' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span3">
        <%= f.input :name, label: false, placeholder: Person.human_attribute_name('name'), input_html: { autofocus: true } %>
      </div>
      <div class="span3">
        <%= f.input :lastname, label: false, placeholder: Person.human_attribute_name('lastname') %>
      </div>
      <div class="span3">
        <%= f.input :email, label: false, placeholder: Person.human_attribute_name('email') %>
      </div>
      <div class="span3">
        <%= f.input :identification, label: false, placeholder: Person.human_attribute_name('identification') %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <%= f.simple_fields_for :enrollments, person_enrollment do |e_f| %>
          <div class="row-fluid">
            <div class="span8">
              <%= e_f.association(
                :course, collection: @courses, label: false, include_blank: false
              ) %>
            </div>
            <div class="span4">
              <%= with_notebook_enrollment_select(e_f) %>
            </div>
          </div>

          <%= e_f.input(
            :comment, label: false, placeholder: Enrollment.human_attribute_name('comment')
          ) %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <%= f.button :submit, class: 'btn-primary btn-large' %>
  </div>
<% end %>
