<tr class="<%= 'success' if person.confirmed%>">
  <td><%= link_to_confirm person %></td>
  <td><%= person.name %></td>
  <td><%= person.lastname %></td>
  <td><%= person.email %></td>
  <td><%= link_to_show person %></td>
  <td><%= link_to_edit edit_person_path(person) %></td>
  <td><%= link_to_destroy person %></td>
</tr>
