<% if @users.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-bordered table-hover table-striped" data-endless-container="true">
    <thead>
      <tr>
        <th><%= User.human_attribute_name 'email' %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @users %>
    </tbody>
  </table>

  <hr />

  <%= pagination_links(@users) %>
<% end %>

<nav class="form-actions">
  <%= link_to(
    t('view.users.new', default: :'label.new'),
    new_user_path, class: 'btn btn-primary'
    ) %>
</nav>
