<div class="hero-unit">
  <div class="row-fluid">
    <div class="span4 hidden-phone">
      &nbsp;
    </div>
    <div class="public_form_container span4">
      <h3>Inicio de sesión</h3>

      <div class="row-fuild">
        <div class="span12">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, input_html: { autofocus: true, class: 'span12' } %>
              <%= f.input :password, input_html: { class: 'span12' } %>
            </div>
          
            <div class="form-actions">
              <%= render partial: 'shared/hidden_submit', locals: { f: f } %>
              <%= show_button_dropdown(
                (f.submit 'Ingresar', class: 'btn btn-primary submit'),
                devise_links_es
              ) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
