<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', data: { 'turbolinks-track' => true } %>
    <%= javascript_include_tag 'application', data: { 'turbolinks-track' => true } %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/favicon.ico' %>
  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= render 'shared/menu' if user_signed_in? %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
